.posts{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}
.posts h1{
    font-family: Didot, serif;
    font-weight: bold;
    -ms-flex: 8 1;
    flex: 8 1;
    text-align: center;
    color: #000;
}
.newPost{
  width: 200px;
  margin: auto;
  text-align: center;
  padding-top: 50px; 
}
.newPost input,
.newPost input:visited{
  width: 200px;
  display: block;
  margin: 10px 0;
  padding: 10px 0 10px 10px;
  border: none;
  border-bottom: 1px solid darkslategray;
  font-size: 16px;
  outline: none;
}
.newPost input::placeholder{
  text-transform: capitalize;
}
.newPost input:hover,
.newPost input:focus{
  outline: none;
}
 .newPost__submit:visited,
 .newPost__submit{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px 5px;
  padding: 2px 6px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.readPost{
  width:400px;
  margin: auto;
  padding-top: 50px;
  list-style: none;
}
.readPost li{
  margin: 10px;
  display: inline-block;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: none;
    flex-direction: row;
    width: 100%;
    margin-top: 16px;
    flex-wrap: wrap;
  }
  @media (min-width: 1200px) {
    .cards-container {
      width: 1200px;
    }
  }
  .cards-container .card {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: none;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    margin-bottom: 16px;
    padding: 24px;
    text-align: start;
  }
  .cards-container .card .headline {
    font-size: 25px;
    font-family: Didot, serif;
  }
  .cards-container .card .author {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
  }
  .cards-container .card .author .img-container {
    padding-right: 10px;
    border-right: 1px solid lightgrey;
    height: 40px;
  }
  .cards-container .card .author .img-container img {
    width: 40px;
  }
  .cards-container .card .author span {
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
  }